{
  "kind": "object",
  "solid": false,
  "collision": true,
  "orientationVariants": true,
  "randomizePosition": false,
  "priority": 32,
  "bouncyness": 0.1,
  "open": false,
  "unbreakable": false,
  "damageSoundGroup": "staxel.sounds.damage.Wood",
  "placeSoundGroup": "staxel.sounds.place.Wood",
  "tileStateKind": "staxel.tileState.Dock",
  "wallPushOut": false,
  "placementDirections": [
    "zn"
  ],
  "attachmentDirections": [],
  "attachToBelow": false,
  "attachToSide": true,
  "hammerable": {},
  "totemCeiling": false
}